/* Notes, comments, etc
color: #61dafb; /* nice react color */
*/

.App {
  text-align: center;
}

a {
  font-size: 80%;
  text-decoration: none;
  color: #ffffffc8;
}
a:visited {
  color: #ffffffb8;
}
a:hover {
  text-decoration: underline;
  color: #61dafbb8;
}