.Header {
  color: white;
	display: grid;
	place-items: center;
	margin: 25vh 0 5vh;
	font-size: 1.5em;
}

@media only screen and (max-width: 600px) {
	.Header {
		font-size: 0.9em;
	}
}

.subtitle {
	color: #ffffffb3;
}

.Header-logo {
  position: fixed;
  left: 0vmin;
  top:  2vmin;
  height: 13vmin;
  max-height: 120px;
  /* pointer-events: none; */
}

@media (prefers-reduced-motion: no-preference) {
  .Header-logo {
    animation: Header-logo-spin infinite 20s linear;
  }
}


@keyframes Header-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
