.Title {
  color: white;
	display: grid;
	place-items: center;
	margin: 25vh 0 5vh;
	font-size: 1.2em;
}

@media only screen and (max-width: 600px) {
	.Title {
		font-size: 0.9em;
	}
}

.subtitle {
	color: #ffffffb3;
}